@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;

	font-family: 'Kameron', serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: larger;
	text-rendering: optimizeLegibility;
	background-color: rgb(159, 160, 145);
}
.color-mid-olive {
	background-color: rgb(159, 160, 145);
}
.color-des-green {
	background-color: rgb(192, 202, 190);
}
.color-des-green-2 {
	background-color: rgb(220, 224, 220);
}

.animate__animated.animate__fadeIn {
	--animation-delay: 1s;
}

.def_button {
	min-width: 150px;
	color: rgb(255, 255, 255);
	padding: 8px;
	border-radius: 10px;
	border-color: rgb(2, 60, 56);
	background-color: rgb(0, 150, 100);
}
.def_button:hover {
	transform: translateY(-1px);
	border-color: rgb(2, 52, 48);
	background-color: rgb(42, 97, 80);
	cursor: pointer;
}

.red_button {
	min-width: 150px;
	color: rgb(255, 255, 255);
	padding: 8px;
	border-radius: 10px;
	border-color: rgb(60, 2, 2);
	background-color: rgb(150, 0, 0);
}
.red_button:hover {
	transform: translateY(-1px);
	border-color: rgb(52, 2, 2);
	background-color: rgb(97, 42, 42);
	cursor: pointer;
}
.blue_button {
	min-width: 150px;
	color: rgb(255, 255, 255);
	padding: 8px;
	border-radius: 10px;
	border-color: rgb(2, 37, 60);
	background-color: rgb(0, 77, 150);
}
.blue_button:hover {
	transform: translateY(-1px);
	border-color: rgb(2, 24, 52);
	background-color: rgb(42, 75, 97);
	cursor: pointer;
}

input {
	border-radius: 8px;
}

h1 {
	font-size: xx-large;
}
h2 {
	font-size: x-large;
}
h3 {
	font-size: large;
}

.menu {
	background-color: rgb(210, 204, 186);
}

.checkbox {
	border-radius: 3px;
}

option {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.loader {
	--color-1: #000000;
	--size: 2px;

	width: calc(40 * var(--size));
	height: calc(4 * var(--size));
	border-radius: calc(2 * var(--size));
	display: block;
	margin: calc(30 * var(--size)) auto;
	position: relative;
	background: var(--color-1);
	box-sizing: border-box;
	animation: spin 1.2s linear infinite;
}
.loader::before {
	content: '';
	position: absolute;
	inset: 0;
	background: var(--color-1);
	border-radius: inherit;
	transform: rotate(90deg);
	box-sizing: border-box;
}
.small_loader {
	--color-1: #000000;
	--size: 2px;

	width: calc(20 * var(--size));
	height: calc(2 * var(--size));
	border-radius: calc(1 * var(--size));
	display: block;
	margin: calc(15 * var(--size)) auto;
	position: relative;
	background: var(--color-1);
	box-sizing: border-box;
	animation: spin 1.2s linear infinite;
}
.small_loader::before {
	content: '';
	position: absolute;
	inset: 0;
	background: var(--color-1);
	border-radius: inherit;
	transform: rotate(90deg);
	box-sizing: border-box;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.ellipsis-anim {
	font-size: 30px;
}

.ellipsis-anim:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4, end) 900ms infinite;
	animation: ellipsis steps(4, end) 900ms infinite;
	content: '\2026'; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;
	}
}
